<!-- Page Header -->
<div id="layout-container" class="d-none d-md-block">
    <header id="header" class="fixed-top">
        <div class="navbar navbar-light bg-transparent">
            <div class="container">
                <div class="header-logo">
                    <img class="site-logo" src="/assets/images/site-logo-blue.svg" alt="Tiffany Nguyen, Chartered Professional Accountant">
                </div>
                <nav role="navigation">
                    <ul class="navbar d-lg-inline-flex flex-lg-row main-nav">
                        <li class="nav-item"><a href="#about" class="nav-link">ABOUT</a></li>
                        <li class="nav-item"><a href="#services" class="nav-link">SERVICES</a></li>
                        <li class="nav-item"><a href="#contact" class="nav-link">CONTACT</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
</div>

<div id="mobile-navbar" class="d-md-none">
    <nav role="navigation">
        <ul class="navbar d-flex flex-row justify-content-evenly align-items-center main-nav">
            <li class="nav-item">
                <a href="#about" class="nav-link"><i class="material-icons-two-tone">person</i></a>
            </li>
            <li class="nav-item">
                <a href="#services" class="nav-link"><i class="material-icons-two-tone">design_services</i></a>
            </li>
            <li class="nav-item">
                <a href="#contact" class="nav-link"><i class="material-icons-two-tone">handshake</i></a>
            </li>
        </ul>
    </nav>
</div>