<!-- Page Header -->
<nav class="navbar navbar-expand-lg py-1 py-md-3 py-lg-4 fixed-top" role="navigation" id="navigation">
    <div class="container">

            <a class="navbar-brand" href="#">Site Logo</a>
            <button id="mobile-menu-btn" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <i id="mobile-menu-icon" class="material-icons-round">menu</i>
                </span>
            </button>
            <div class="collapse navbar-collapse justify-content-lg-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item my-2 mx-lg-2"><a href="#about" class="nav-link"><i class="material-icons-round d-lg-none">person</i>ABOUT</a></li>
                    <li class="nav-item my-2 mx-lg-2"><a href="#services" class="nav-link"><i class="material-icons-round d-lg-none">design_services</i>SERVICES</a></li>
                    <li class="nav-item my-2 mx-lg-2"><a href="#contact" class="nav-link"><i class="material-icons-round d-lg-none">handshake</i>CONTACT</a></li>
                </ul>
            </div>

    </div>
</nav>
