---
layout: default
---

<section id="banner" class="hero-banner">
    <div class="banner-container">
        <img src="/assets/images/banner-bg-new.jpg" class="img-fluid" alt="Accounting working table" loading="lazy"
            typeof="foaf:Image">
        <div class="banner-text container">
            <h3 class="banner-subtitle banner-text-overlay">BOOKKEEPING SERVICES • TAX PREPARATION & PLANNING • BUSINESS
                CONSULTING</h3>
            <h2 class="banner-title banner-text-overlay">
                Helping to put more of your
                hard-earned money back in your<br>
                <span class="typed-element"></span>
            </h2>
        </div>
    </div>
</section>

<section id="about" class="container my-5">
    <div class="d-flex flex-column flex-lg-row">
        <div class="col-12 picture-side">
            <img src="/assets/images/about-img.jpg" alt="Photo of Woman Using Her Laptop" width="800" height="500"
                loading="lazy" typeof="foaf:Image">
        </div>
        <div class="col-12 content-side">

            <div class="about-heading">
                <h2 class="about-title">TNG Accounting Services</h2>
                <h3 class="about-subtitle">Your most reliable partner</h3>
            </div>
            <div class="about-description">
                <p>TNG provides accounting services for small and medium sized businesses and individuals with the
                    highest quality at an affordable price. We help business owners and individuals plan their long-term
                    financial success and obtain peace of mind when it comes to managing their books.</p>
                <p>Let us take care of your books so that you can make time for what matters most to you. </p>
            </div>

        </div>
    </div>
</section>

<section id="services" class="my-5">
    <div class="container">
        <h2 class="services-title">SERVICES</h2>
        <div class="accordion accordion-flush" id="accordionExample">
            <div class="accordion-item">
                <h3 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Bookkeeping
                    </button>
                </h3>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ul>
                            <li>Fixed monthly fees for full cycle monthly bookkeeping using QuickBooks Online</li>
                            <li>Managing general ledger, accounts receivable, accounts payable, and fixed asset schedule</li>
                            <li>Bi-weekly, semi-monthly, and monthly payroll services to employees and management</li>
                            <li>Filing GST, PST, WCB and Payroll Remittances. We ensure these fillings are accurate and on time to avoid interests and penalties</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h3 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Corporate Tax Return and Year End services
                    </button>
                </h3>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ul>
                            <li>Financial Statement preparation</li>
                            <li>Corporate T2 Tax Return</li>
                            <li>Annual GST preparation</li>
                            <li>T4 employer summary and slips preparation</li>
                            <li>T5 dividend summary and slips preparation</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h3 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Personal Tax Return
                    </button>
                </h3>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ul>
                            <li>T1 Individual personal tax return preparation</li>
                            <li>Sole proprietorship/self-employed tax return preparation (non-incorporated business or
                                rental property)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact" class="my-5">
    <div class="container">
        <div class="row">
            <div class="heading-side col-12 col-lg-4">
                <h2>LET'S GET</br>IN TOUCH</h2>
            </div>
            <div class="form-side col-12 col-lg-8">
                <div class="form-description">
                    <p>Contact us to see how our accounting expertise and personalized services can save you time, money,
                        and
                        frustration with managing your finances.</p>
                    <p>For any general inquiries, please fill in the following contact form:</p>
                </div>
                <form action="https://formspree.io/f/mbjwzdjp" method="POST">
                    <div class="row">
                        <div class="mb-3 col-12 col-lg-6">
                            <label for="inputName" class="form-label required-field">Your Name</label>
                            <input type="text" class="form-control" id="inputName" name="userName" required>
                        </div>
                        <div class="mb-3 col-12 col-lg-6">
                            <label for="inputEmail" class="form-label required-field">Email address</label>
                            <input type="email" class="form-control" id="inputEmail" name="email" required>
                        </div>
                        <div class="mb-3 col-12">
                            <label for="inputSubject" class="form-label required-field">Subject</label>
                            <input type="text" class="form-control" id="inputSubject" name="subject" required>
                        </div>
                        <div class="mb-3 col-12">
                            <label for="inputMsg" class="form-label required-field">Message</label>
                            <textarea class="form-control" id="inputMsg" rows="5" name="message" required></textarea>
                        </div>
                        <button type="submit" class="col-12 btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</section>
